@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.recharts-responsive-container {
    height: initial !important;
}

@layer base {
    :root {
    }
}

.Toastify__toast-body {
    display: flex !important;
    align-items: flex-start !important;
    @apply text-sm;
}

.Toastify__toast-icon {
    @apply mt-1;
}

.Toastify__progress-bar--success {
    background: hsl(140, 100%, 27%) !important;
}

.Toastify__progress-bar--error {
    background: hsl(360, 100%, 45%) !important;
}

.Toastify__toast--success {
    background: hsl(143, 85%, 96%) !important;
    border-color: hsl(145, 92%, 91%) !important;
    color: hsl(140, 100%, 27%) !important;
}

.Toastify__toast--error {
    background: hsl(359, 100%, 97%) !important;
    border-color: hsl(359, 100%, 94%) !important;
    color: hsl(360, 100%, 45%) !important;
}
